@inject MvcEgitimPortalı.Models.AppDbContext _context
@{
    ViewData["Title"] = "GetRoleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rol Listesi</h1>
<hr />
<div class="row">
    <div class="col-md-12">
    <div id="progress">
        <div class="table-responsive">
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _context.Roles.ToList())
        {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                        </tr>
        }
    </tbody>
</table>
</div>
</div>
</div>
</div>

