@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Eğitim Portalına Hoş Geldiniz </h1>
    <p>Bu eğitim portalına hoş geldiniz. Portal üzerinden derslerinizi yönetebilir ve takip edebilirsiniz.</a>.</p>
</div>
