@inject MvcEgitimPortalı.Models.AppDbContext _context
@{
    ViewData["Title"] = "Instructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Eğitmenler</h1>
<hr />
<div class="row">
    <div class="col-md-12">
    <div id="progress">
        <div class="table-responsive">
<table class="table table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Adı Soyadı</th>
            <th>E-Posta</th>
            <th>Ders Id</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in _context.Instructors.ToList())
        {
                                  <tr>
                                        <td>@item.Id</td>
                                        <td>@item.FullName</td>
                                        <td>@item.Email</td>
                                        <td>@item.LessonId</td>
                                        


                                </tr>  
        }

    </tbody>
</table>
</div>
</div>
</div>
</div>