
@{
    ViewData["Title"] = "Index";
}

<h2>Notlarım</h2>
<hr />

<div class="row">
    <div class="col-md-8">

        <table class="table" id="tbNote">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ders Adı</th>
                    <th>Başlık</th>
                    <th>Not</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
    <div class="col-md-4">
        <div id="container">
        <h3 id="baslik"></h3><hr />
        
        <div class="mb-3">
            <label>Ders</label>
            <input type="text" class="form-control" id="txtLesson" />
        </div>
        <div class="mb-3">
            <label>Başlık</label>
            <input type="text" class="form-control" id="txtTitle" />
        </div>
        <div class="mb-3">
            <label>Not</label>
            <textarea class="form-control" id="txtNote" rows="5"></textarea>
        </div>
        <div class="mb-3">
            <input type="hidden" id="txtId" />
            <button class="btn btn-primary" id="btnKaydet">Kaydet</button>
            <button class="btn btn-secondary" id="btnVazgec">Vazgeç</button>
            <button class="btn btn-danger" id="btnSil">Sil</button>
        </div>
        <div class="alert" id="sonuc"></div>
        </div>
    </div>
</div>





@section Scripts{
            <script>
                $(document).ready(function () {
                    LoadNotes();


                    function LoadNotes() {

                        $("#btnVazgec").hide();
                        $("#btnSil").hide();
                        $("#baslik").html("Yeni Kayıt");
                        $("#txtTitle").val("");
                        $("#txtDate").val("");
                        $("#txtLesson").val("");  
                        $("#txtId").val("0");
                        $("#txtNote").val("");
                        $("#tbNote tbody").empty();
                        $.ajax({
                            url: "/Note/NoteListAjax",
                            type: "Get",
                            data: {},
                            success: function (data) {
                                var i = 1;

                                $.each(data, function (index, item) {



                                                var note = '<tr id="' + item.id + '"><td>' + i + '</td><td>' + item.lessonName + '</td><td>' + item.title + '</td><td>' + item.noteText + '</td><td><button class="btn btn-warning edit">Düzenle</button></td></tr>';

                                    $("#tbNote tbody").append(note);
                                    i++;



                                });



                            },
                            error: function (e) {
                                console.log(e);
                            },
                        });

                    }
                    $("#btnKaydet").click(function () {


                        var title = $("#txtTitle").val();
                        var noteText = $("#txtNote").val();
                        var date = $("#txtDate").val();
                        var lessonName = $("#txtLesson").val();
                        var id = $("#txtId").val();

                        if (title == "" || title == null) {
                            $("#sonuc")
                                .removeClass()
                                .addClass("alert alert-danger")
                                .html("Başlık Giriniz!");
                            return false;
                        }

                        $.ajax({
                            url: "/Note/NoteAddEditAjax",
                            type: "POST",
                            data: { id: id, title: title, noteText: noteText, date: date, lessonName: lessonName },
                            success: function (data) {
                                if (data.noteText) {
                                    $("#sonuc")
                                        .removeClass()
                                        .addClass("alert alert-success")
                                        .html(data.message);
                                    LoadNotes();
                                } else {
                                    $("#sonuc")
                                        .removeClass()
                                        .addClass("alert alert-success")
                                        .html(data.message);

                                }
                                    LoadNotes()
                            },
                            error: function (e) { }
                        });
                    });

                    $(document).on("click", ".edit", function () {
                        var id = $(this).closest("tr").attr("id");
                        $("#container").show();
                        $("#baslik").html("Kayıt Düzenle");
                        $("#btnVazgec").show();
                        $("#btnSil").show();
                        $.ajax({
                            url: "/Note/NoteByIdAjax",
                            type: "Get",
                            data: { id: id },
                            success: function (data) {
                                $("#txtTitle").val(data.title);
                                $("#txtId").val(data.id);
                                $("#txtDate").val(data.date);
                                $("#txtLesson").val(data.lessonName);
                                $("#txtNote").val(data.noteText);
                            },
                            error: function () { }
                        });
                    });

                        $(document).on("click", ".add", function () {
                            var id = $(this).closest("tr").attr("id");
                            $("#container").show();
                            $("#baslik").html("Kayıt Ekle");
                            $("#btnVazgec").show();
                            $("#btnSil").hide();
                            $.ajax({
                                url: "/Note/NoteByIdAjax",
                                type: "Get",
                                data: { id: id },
                                success: function (data) {
                                    $("#txtTitle").val(data.title);
                                    $("#txtId").val(data.id);
                                    $("#txtDate").val(data.date);
                                    $("#txtLesson").val(data.lessonName);
                                    $("#txtNote").val(data.noteText);
                                },
                                error: function () { }
                            });
                        });



                    $("#btnVazgec").click(function () {
                        LoadNotes();
                    });
                    $("#btnSil").click(function () {
                        var id = $("#txtId").val();
                        $.ajax({
                            url: "/Note/NoteRemoveAjax",
                            type: "Get",
                            data: { id: id },
                            success: function (data) {
                                if (data.noteText) {
                                    $("#sonuc")
                                        .removeClass()
                                        .addClass("alert alert-success")
                                        .html(data.message);
                                    LoadNotes();
                                } else {
                                    $("#sonuc")
                                        .removeClass()
                                        .addClass("alert alert-danger")
                                        .html(data.message);
                                }
                                LoadNotes()

                            },
                            error: function () { }
                        });
                    });

                });

            </script>
}

